/RabaEUOdotNET0.5_Dll/Release
/RabaEUOdotNET0.5_Dll/ipch
/RabaEUOdotNET0.5_Dll/RabaEUOdotNET/Release

/SSRabaWrapper/Debug
/SSRabaWrapper/SSRabaWrapper/Debug

/Scripts/Debug
/Scripts/Magery/Debug
/Scripts/Taming/Debug
*.suo
*.db
*.opendb

